[Unit]
Description=Run ZSEC Auto Updates every 12 hours
Documentation=https://github.com/ResearchForumOnline/ZSEC

[Timer]
OnCalendar=*-*-* 00,12:00:00
RandomizedDelaySec=30min
AccuracySec=1min
Persistent=true
Unit=zsec.service

[Install]
WantedBy=timers.target
